@font-face {
  font-family: 'Futura';
  src: url('fonts/futura_ce_bold.eot');
  src: local('☺'), url('fonts/futura_ce_bold.woff') format('woff'), url('fonts/futura_ce_bold.ttf') format('truetype'), url('fonts/futura_ce_bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura_ce_book';
  src: url('fonts/futura_ce_book.eot');
  src: local('☺'), url('fonts/futura_ce_book.woff') format('woff'), url('fonts/futura_ce_book.ttf') format('truetype'), url('fonts/futura_ce_book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Merriweather_light';
  src: url('fonts/Merriweather-Light.eot');
  src: local('☺'), url('fonts/Merriweather-Light.woff') format('woff'), url('fonts/Merriweather-Light.ttf') format('truetype'), url('fonts/Merriweather-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather_regular';
  src: url('fonts/Merriweather-Regular.eot');
  src: local('☺'), url('fonts/Merriweather-Regular.woff') format('woff'), url('fonts/Merriweather-Regular.ttf') format('truetype'), url('fonts/Merriweather-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('fonts/ProximaNova-Bold.eot');
  src: local('☺'), url('fonts/ProximaNova-Bold.woff') format('woff'), url('fonts/ProximaNova-Bold.ttf') format('truetype'), url('fonts/ProximaNova-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('fonts/ProximaNova-Regular.eot');
  src: local('☺'), url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_ProximaNova-Semibold';
  src: url('fonts/ProximaNova-Semibold.eot');
  src: local('☺'), url('fonts/ProximaNova-Semibold.woff') format('woff'), url('fonts/ProximaNova-Semibold.ttf') format('truetype'), url('fonts/ProximaNova-Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,


body {
  height: 100%;

}

.img-centered {
  margin: 0 auto;
}
.content-row {
  margin-top: 30px;
}

.img-logo{
  margin-top: -20px;
}
.img-centered {
    width: 100%;
    height: 100%;}

.imgcont {
    padding: 0px;
  }

.bg-gray {
  background-color: #f5f5f5;
}
.bg-dark {
  color: white;
  background-color: #222222;
}

.box{
     padding: 40px 20px;
     height: 400px;
}

.box-small{
     height: 220px;
}

.box .box-home{
    padding: 40px 60px;
    z-index: 100;
    position: relative;
}

.blues{
    background: #3F51B5;
}

.reds{
  background: #f44336;
}

.yellows{
  background: #f5a10b;
  /*margin-top: -20px;*/
}

.blacks{
  background: black;
}
.grays{
    background: gray;
}

.blue2{
  background: #1897fb;
}
.sec-3{
  margin-top: 90px;
  font-size: 23px;
  color:white;
  font-family: "Merriweather_light";
}

.sec-4 {
    background: linear-gradient( rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.31) ), url(./assets/section-4-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    /* height: 850px; */
    /* margin-top: -25px; */
    /* overflow: hidden; */
}

.main-text4 {
    font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 120px;
    color: white;
    line-height: 150px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 130px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px
}
.subtext-4{
    margin-top: 40px;
    font-family: "futura_ce_book";
    font-weight: 900;
    font-size: 28px;
    color: white;
    }


.subtext-4x {
    font-family: merriweather_light;
    font-size: 18px;
    margin-top: 29px;
color: rgba(245, 245, 245, 0.68); 
}

.fa-fwx{
  font-size: 100px;
  margin-top: 60px;
}

.sec-5{
  margin-top: 70px;
  font-family:"Merriweather_regular";
  font-size: 18px;
  margin-bottom: 30px;
  color: white;

}

.sec-6 {
    background: /* top, transparent rgb(255, 236, 18) */ linear-gradient( rgba(224, 220, 24, 0.81), rgba(255, 238, 38, 0.82) ),
    url(http://i.imgur.com/SZMKpNc.jpg);
    background-size: cover;
    height: 950px;
    background-repeat: no-repeat;
    /* margin-top: 130px; */
    /* overflow: hidden; */
}

.sec-6x{
  margin-top: 60px;
  margin-left: 235px;
}

.subtext6g{
  font-family: "Futura";
  font-size:25px;
  font-weight: 900;
  color:black;
  margin-top:70px;
  margin-bottom: 20px;

}

.main-text6x{
    font-family: "futura_ce_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    color: white;
    /* line-height: 150px; */
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 50px;
}

.subtext-6x{
    font-family: "Merriweather-Light";
    font-weight: 400;
    font-size: 18px;
    color: white;
    }

.last-row-img {
    padding-left: 295px;
    padding-top: 20px;
}

.img-grid{
background: linear-gradient( rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.34) ), url(./assets/section-bg-20.jpg);
background-repeat: no-repeat;
width:100%;
height:1224px;
/*margin-top: -25px;*/
overflow: hidden;
}

figure {
    display: table-cell;
}

.text-18 {
    font-size: 20px;
    color: white;
    font-family: "ProximaNova-Regular";
    padding-bottom: 100px;
    padding-top: 5px;
}

#wrapper .text-18 {
visibility:hidden;
}

#wrapper:hover .text-18 {
visibility:visible;
}

.space-b{
  padding-bottom: 30px;
}



figure figcaption {
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: "ProximaNova-Bold"
  }


.sec-7 {
  background-color: gray;
  height: 1552px;
}

.main-text7{
    font-family: "futura_ce_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 42px;
    color: white;
    /* line-height: 150px; */
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 35px;
}

.subtext-7{
    font-family: "Merriweather-Regular";
    font-weight: 400;
    font-size: 18px;
    color: white;
    }

.cont-img{
    text-align: center;
}

.cat-img{
    display: inline-block;
    margin: 105px;
}

.sec-17 {
  background-color: lightgray;
height: 1440px;
}

.subtext-17x{
    font-family: "Merriweather_light";
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #1f4655;
    }

.team-img{
    text-align: center;
    margin-left: 250px;
}

.tcat-img{
    display: inline-block;
    margin: 105px;

}

.img-circle{
  border: 8px solid #FFEB3B;
    float: left;
    margin: 10px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;

}

.img-circle:hover { 
  border: 8px solid yellow; 
   margin-top: 2px;
} 

.img-circle2 {
    border: 8px solid transparent;
    float: left;
    margin: 10px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.img-circle2:hover { 
  border: 8px transparent; 
   margin-top: 2px;
} 

.main-text6{
    font-family: "futura_ce_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80px;
    color: white;
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 190px;
}
.subtext-6 {
    font-family: Merriweather_regular;
    font-weight: 400;
    font-size: 18px;
    color: rgb(251, 249, 247);
}

#hover-6:hover{
  color: #3F51B5;
}

.sec-10 {
    background: /* top, transparent #009688 */ linear-gradient( rgba(0, 150, 136, 0.79), rgba(0, 150, 136, 0.49) ), 
    /* your image */ url(http://i.imgur.com/SZMKpNc.jpg);
    /*width: 100%;*/
    background-size: cover;
    height: 1020px;
    background-repeat: no-repeat;
    /* margin-top: -150px; */
    /*margin-bottom: -120px;*/
    /*overflow: hidden;*/
}

.main-text10{
    font-family: "futura_ce_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: white;
    line-height: 150px;
    font-weight: 900;
    margin-top: 250px;
}

.subtext-10 {
    margin-top: -30px;
    /* font-weight: 400; */
    /* margin-bottom: -530px; */
    font-family: "Merriweather-Regular"
    font-size: 18px;
    color: white;
}

.btn-10 {
  margin-top: 40px;
}

.btn-17 {
    margin-top: 30px;
    margin-left: 945px;
}

.sec-11 {
    background: #f2f2f2;
    height: 450px;
    /* margin-top: -150px; */
    /*margin-bottom: -120px;*/
  }

.main-text11{
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 42px;
    color: #2e6aca;
    line-height: 150px;
    font-weight: 900;
    margin-top: 30px;
    text-transform: uppercase;
}
.img11 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*.sec-13{
background: linear-gradient( rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.72) ), url(http://i.imgur.com/dYCUDuv.jpg);
background-size: 100%;
background-repeat: no-repeat;
width:105%;
height:900px;
margin-top: -25px;
overflow: hidden;
text-align: center;
}*/

.sec-13 {
    background: linear-gradient( rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.72) ), url(http://i.imgur.com/dYCUDuv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 102.2%; */
    height: auto;
    /* margin-top: 127px; */
    /* overflow: hidden; */
    text-align: center;
    padding-bottom: 250px;
    padding-top: 200px;
}

.row-sec13 {
    padding-left: 350px;
    padding-right: 160px;
}

.mar-13{
  margin-left: -30px
}

.main-text13{
  font-family: "Futura";
   font-size: 82px;
    color: white;
    line-height: 100px;
    font-weight: 900;
    margin-top: 245px;
}

.subtext-13 {
    font-size: 16px;
    color: white;
    margin-top: 50px;
}

.row-13{
  margin-left:440px;
}


.section-14s{
    margin-top: -100px;
}

.sec-15 {
    background-image: url(./assets/section-19-bg.jpg);
    background-size: cover;
    /* backface-visibility: inherit; */
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 1100px;
    /* margin-top: -25px; */
    /* overflow: hidden; */
}

.main-text15{
  font-family: futura;
   font-size: 82px;
    color: white;
    line-height: 100px;
    font-weight: 900;
    margin-top: 245px;
}

.subtext-15 {
    font-size: 16px;
    color: white;
    margin-top: 30px;

}

.section-17 {
    background: #1f4655;
    /* margin-top: -150px; */
    /* margin-bottom: -120px; */
    padding-top: 25px;
}

.section-17-ex {
    background: #1f4655;
    /* margin-top: -150px; */
    /* margin-bottom: -120px; */
    padding-bottom: 350px;
    padding-top: 45px;
}

  .main-text17{
    font-family: "futura_ce_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    color: white;
    line-height: 150px;
    font-weight: 900;
    /*margin-top: 130px;*/
    margin-bottom: 20px;
}

.subtext-17 {
  font-family: "Merriweather_light";
    font-size: 20px;
    color: #ffffff;
    margin-top: 50px;
    margin-right: 50px;
}

.circle-solid {
    background: #3f51b5;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 482px;
    height: 472px;
    position: absolute;
    z-index: 0;
    margin-left: 115px;
}

.img17-text {
    font-size: 20px;
    color: #151515;
    margin-left: 82px;
    width: 100px;
    margin-top: 10px;
  }

  .section-18{
    background: #0071a5;
    padding-top: 50px;
  }


.img-ipad{
  z-index: 1;
  position: absolute;
}


.map-top{
  background: white;
  width:100%;
}

.map-text{
    text-align: center;
    display: block;
    font-size: 20px;
    font-family: "ProximaNova-Bold";
  }

.t-text {
    font-size: 16px;
    margin-top: -88px;
    color: transparent;
    nsform: translateY(50px);
    transition: transform .4s;
}

.t-text:hover{
  font-size: 16px;
  margin-top: -30px;
  color: white;
  font-family: "Merriweather_light";
  transition: transform .2s ease-in-out
}
  .hover-e:hover{
   background-color:gray;

}

.hover-e:hover > .t-text {
  font-size: 16px;
  margin: 0;
  color: white;
  font-family: "Merriweather_light";
  transform: translateY(-10px);
}



.ptext-7{
  color: white;
  width:170%;

}

.exalt{
  color: white;
}

.exalt:hover {
  color: blue;
}


span.text-fig {
    background: rgba(56, 56, 56, 0.77);
    color: white;
    cursor: pointer;
    display: table;
    height: 210px;
    left: -50px;
    /* bottom: -107px; */
    position: absolute;
    top: -15px;
    width: 270px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    border-radius: 30px;
}

.text-fig:hover {
  opacity: 1;
}

span.text-fig span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


span.text-content {
    background: rgba(33, 150, 243, 0.88);
    color: white;
    cursor: pointer;
    display: table;
    height: 350px;
    left: -50px;
    bottom: 99px;
    position: absolute;
    top: -56px;
    width: 270px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    border-radius: 15px;
}

.text-content:hover {
  opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}




.map-img{
background-image: url(./assets/Google-Maps-Image.png);
background-size: 100%;
background-repeat: no-repeat;
width:100%;
height:400px;
overflow: hidden;
}

.border-right {
    line-height: 100px;
    border-right-color: rgba(158, 158, 158, 0.33);
    height: 190px;
    padding-top: 40px;
    padding-bottom: 40px;
}


@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
}
.owl-theme .owl-controls .owl-page span {
  background: rgba(34, 34, 34, 0.5);
}
input.form-control {
  border-radius: 0 !important;
}
input.form-control:focus {
  border-color: #ffc153;
  box-shadow: none;
}
.btn,
.input-group-btn {
  border-radius: 0 !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-primary {
  color: #ffffff;
  background-color: #ffc153;
  border-color: #ffc153;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #ffb839;
  border-color: #ffb42f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #ffc153;
  border-color: #ffc153;
}
.btn-primary .badge {
  color: #ffc153;
  background-color: #ffffff;
}

body {
  font-family: "Merriweather_light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  color: #ffc153;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
p.lead {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 481px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 50px;
  }
}
hr {
  max-width: 100px;
  border-top: 4px solid white;
  height: 2px;
  margin: 15px auto;
}
hr.left {
  margin: 15px auto 15px 0;
}
hr.right {
  margin: 15px 0 15px auto;
}
hr.colored {
  border-color: #ffc153;
}
@media (min-width: 768px) {
  hr {
    max-width: 100px;
    margin: 20px auto;
  }
  hr.left {
    margin: 20px auto 20px 0;
  }
  hr.right {
    margin: 20px 0 20px auto;
  }
}
.text-primary {
  color: #ffc153;
}
.navbar-fixed-top {
  margin-bottom: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffc153;
  border-radius: 0;
}
.navbar-default {
  background-color: #ffc153;
    font-family: futura;
    font-size: 12px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar-inverse {
  background-color: #222222;
}
.navbar-default,
.navbar-inverse {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-family: futura;
    font-size: 12px;
}
.navbar-default .navbar-brand,
.navbar-inverse .navbar-brand {
  padding: 0 15px;
  color: white;
  opacity: 1;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-default .navbar-brand:hover,
.navbar-inverse .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-inverse .navbar-brand:focus {
  opacity: 1;
}
.navbar-default .navbar-nav li a,
.navbar-inverse .navbar-nav li a {
  color: white;
}
.navbar-default .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li a:hover {
  color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    border-radius: 5px;
  }
  .navbar-fixed-top.navbar-expanded {
    padding: 30px 0;
  }
  .navbar-fixed-top {
    padding: 15px 0;
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s;
    transition: padding 0.5s;
    font-family: futura;
    font-size: 12px;
  }
  .navbar-fixed-top .navbar-brand:hover {
    opacity: 0.5;
    font-family: futura;
    font-size: 12px;
  }
  .navbar-default.navbar-expanded,
  .navbar-inverse.navbar-expanded {
    background: transparent;
    border: none;
  }
}
.navbar a:focus {
  outline: none;
}
.navbar .navbar-nav li a:focus {
  outline: none;
}
.sec-1-home {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background: url(./assets/home-bg.jpg);
  /*overflow: hidden;*/
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 100px 0;
}
.sec-1-home .intro-content {
  color: white;
  text-align: center;
  position: relative;
}
.sec-1-home .brand-name {
    font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 15px;
}
.sec-1-home .brand-name-subtext {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}
.sec-1-home img {
  max-width: 150px;
  max-height: 150px;
}
.sec-1-home .scroll-down {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}
.sec-1-home .scroll-down .btn {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100% !important;
  line-height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: white;
  font-size: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.sec-1-home .scroll-down .btn:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  outline: none;
}
@media (min-width: 768px) {
  .sec-1-home {
    height: 100%;
    width: 100%;
    /*padding: 0;*/
    background-attachment: scroll;
  }
  .sec-1-home .intro-content {
    color: white;
    text-align: center;
    width: 50%;
    margin-right: 250px;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .sec-1-home .brand-name {
    font-size: 80px;
    letter-spacing: 1.5px;
    line-height: 80px;
  }
  .sec-1-home .brand-name-subtext {
    font-size: 18px;
    font-family: Merriweather_light;
    }
  .sec-1-home img {
    max-width: 300px;
    max-height: 300px;
  }
}
@media (min-width: 1025px) {
  .sec-1-home {
    background: url(./assets/home-bg.jpg);
    background-attachment: fixed;
  }
}


#train:hover {
    content: url('http://i.imgur.com/OZdOwYA.png');
}

#recruit:hover {
    content: url('http://i.imgur.com/Hz79Abi.png');
}

.services .media {
  margin-bottom: 30px;
}
.services .media i.fa {
  height: 75px;
  width: 75px;
  line-height: 70px;
  text-align: center;
  border: 3px solid #222222;
  border-radius: 100%;
  font-size: 30px;
}
.services .media .media-body {
  min-width: none;
  padding-left: 15px;
}
.services .media .media-body h3 {
  margin-bottom: 15px;
}
.services .media .media-body ul {
  list-style: inside;
  padding: 0;
}
.services .media .media-body ul li {
  margin-bottom: 10px;
}
@media (min-width: 390px) {
  .services .media .media-body {
    min-width: 260px;
  }
}
@media (min-width: 992px) {
  .services .media .media-body {
    min-width: 193px;
  }
}
@media (min-width: 1199px) {
  .services .media .media-body {
    min-width: 260px;
  }
}
@media (min-width: 992px) {
  .services .media {
    margin-bottom: 0;
  }
}


.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e1e1e1;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.5s ease,opacity 0.5s ease;
  -moz-transition: top 0.5s ease,opacity 0.5s ease;
  -ms-transition: top 0.5s ease,opacity 0.5s ease;
  transition: top 0.5s ease,opacity 0.5s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e1e1e1;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #ffc153;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e1e1e1;
}
footer.footer {
  color: rgba(255, 255, 255, 0.7);
  background: black no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 25px 25px 25px;
  }
footer.footer a {
  color: rgba(255, 255, 255, 0.7);
}
footer.footer a:hover {
  color: white;
}
footer.footer p {
  font-size: 22px;
}
footer.footer .social {
  margin-bottom: auto;
}
footer.footer .copyright p.small {
  font-size: 14px;
}
@media (min-width: 1025px) {
  footer.footer {
    background-attachment: fixed;
  }
}
.btn-outline-light {
  color: white;
  border: 1px solid white;
  background: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-outline-light:hover,
.btn-outline-light:focus {
  color: #ffc153;
  background: white;
  outline: none;
}
.btn-outline-dark {
  color: #222222;
  border: 1px solid #222222;
  background: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-outline-dark:hover,
.btn-outline-dark:focus {
  color: white;
  background: #ffc153;
  border-color: #ffc153;
  outline: none;
}
.btn {
  border-radius: 0;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Merriweather-Light";
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.btn-full-width {
  border: 0;
  border-radius: 0;
  background-color: #222222;
  color: white;
  padding: 50px 0;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: normal;
  text-transform: none;
}
.btn-full-width:hover {
  background-color: #ffc153;
  color: white;
}
.btn-full-width:focus {
  color: white;
}

.list-inline>li {
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
}

#carousel{
/*  display: inline-flex;
*/}

#owl-demo .item {
    padding: 0px;
    position: relative;
}
#owl-demo figure{
  position: relative;
}
#owl-demo .item img {
    height: 490px;
    width: auto;

  }
#owl-demo .item figure:after{
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.74) );
}

.owl-carousel div h2, .owl-carousel div .textoverlay{
  position:absolute;
   color:#FFF;
   font-size:12px;
   display:block;
}

#caption-owl{
    text-align: center;
    color: white;
    font-size: 34px;
    font-family: "ProximaNova-Bold";
    display: inline-block;
    top: 230px;
    left: 60px;
    /* padding: 64px; */
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
    text-align: start;
}

.btn-cara {
    border-radius: 0;
    padding: 12px 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: "ProximaNova-Regular";
}


#cara-desc{
  font-size: 16px;
  font-family: "ProximaNova-Regular";
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  /*overflow: hidden;*/
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 80px;
  left: 67px;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


.hovereffect:hover + .remove_text {
    display:none;
}

.remove_text {
    display:block;
}
